.input-group label {
    display: block;
    font-size: 0.9rem;
    color: #555;
}

.responsiveMargin {
    padding-top: 62px;
}



button {
    width: 45%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* ----------------------------- */


.register-container {
    max-width: 400px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 0.5s ease-in-out;
}

.register-box h2 {
    color: #325DA7;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    color: #555;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #325DA7;
    box-shadow: 0 0 5px rgba(50, 93, 167, 0.3);
}

.register-actions {
    text-align: center;
    margin-top: 20px;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #325DA7;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #25467d;
}

.have-account {
    text-align: center;
    margin-top: 15px;
    font-size: 0.9rem;
}

.have-account p {
    color: #555;
}

.have-account a {
    color: #325DA7;
    text-decoration: none;
    font-weight: 500;
}

.have-account a:hover {
    text-decoration: underline;
}

/* Animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}