<div class="d-flex justify-content-center pt-5 mt-5 align-items-center">
    <!-- Registration Page HTML -->
    <div class="register-container">
        <div class="register-box">
            <h2>Register As Admin</h2>
            <form #f="ngForm" (submit)="submitRegistrationForm(f)">
                <div class="d-flex">
                    <div class="input-group me-2">
                        <label for="firstName">First Name</label>
                        <input type="text" ngModel id="firstName" name="firstName" required>
                    </div>

                    <div class="input-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" ngModel id="lastName" name="lastName" required>
                    </div>
                </div>

                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" ngModel id="username" name="username" required>
                </div>

                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" ngModel id="email" name="email" required>
                </div>

                <div class="input-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" ngModel id="phone" name="phone" required>
                </div>

                <div class="input-group">
                    <label for="birthdate">Birthdate</label>
                    <input type="date" ngModel id="birthdate" name="birthdate" required>
                </div>

                <div class="input-group d-none mb-3">
                    <label for="role">Role</label>
                    <input type="text" [(ngModel)]="roleValue" id="role" name="userRole" class="form-control" required>
                </div>

                <input class="d-none" type="text" id="userState" name="userState" [ngModel]="'ACTIVE'">

                <div class="input-group">
                    <label for="adminPassword">Admin Password</label>
                    <input type="password" ngModel id="adminPassword" name="adminPassword" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" [(ngModel)]="password" id="password" name="password" required>
                </div>

                <div class="input-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" [(ngModel)]="confirmPassword" id="confirmPassword" name="confirmPassword"
                        required>
                </div>

                <div class="input-group">
                    <label for="image">Profile Image</label>
                    <input type="file" (change)="onImageSelected($event)" id="image" name="image" accept="image/*">
                </div>

                <div class="register-actions">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>

                <div class="have-account">
                    <p>Already have an account? <a routerLink="/login">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</div>