.sellerProfile .img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid rgb(19, 36, 19);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sellerProfile .img img {
    height: 25px;
    display: inline-block;
}