<div class="adminDashboard container pt-5 vh-100 d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light " style="width: 280px;">
        <a routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:routerLink="#bootstrap"></use>
            </svg>
            <span class="fs-4">Admin Dashboard</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a (click)="setButtonAppearance($event)" routerLink="/admin/dashboard"
                    [ngClass]="{'link-dark': lastClickedLink !== 'Statics', 'active': lastClickedLink === 'Statics'}"
                    class="nav-link">
                    <i class="bi bi-speedometer me-2"></i>
                    Statics
                </a>
            </li>

            <li>
                <a (click)="setButtonAppearance($event)" routerLink="/admin/dashboard/messages"
                    [ngClass]="{'link-dark': lastClickedLink !== 'Messages', 'active': lastClickedLink === 'Messages'}"
                    class="nav-link">
                    <i class="bi bi-envelope me-2"></i>
                    Messages
                </a>
            </li>

            <li class="nav-item">
                <a (click)="setButtonAppearance($event)" routerLink="/admin/dashboard/reportings"
                    [ngClass]="{'link-dark': lastClickedLink !== 'Reportings', 'active': lastClickedLink === 'Reportings'}"
                    class="nav-link" aria-current="page">
                    <i class="bi bi-exclamation-circle-fill me-2"></i>
                    Reportings
                </a>
            </li>

            <li>
                <a (click)="setButtonAppearance($event)" routerLink="/admin/dashboard/users"
                    [ngClass]="{'link-dark': lastClickedLink !== 'Users', 'active': lastClickedLink === 'Users'}"
                    class="nav-link">
                    <i class="bi bi-people-fill me-2"></i>
                    Users
                </a>
            </li>
            <li>
                <a (click)="setButtonAppearance($event)" routerLink="/admin/dashboard/addCategory"
                    [ngClass]="{'link-dark': lastClickedLink !== 'Add Category', 'active': lastClickedLink === 'Add Category'}"
                    class="nav-link">
                    <i class="bi bi-diagram-3-fill me-2"></i>
                    Add Category
                </a>
            </li>
        </ul>

        <hr>

    </div>

    <div class="pt-5 h-100 overflow-auto w-100"><router-outlet></router-outlet></div>
</div>