/* @import "bootstrap-icons/font/bootstrap-icons.css"; */


/* You can add global styles to this file, and also import other style files */
.check {
    border: 1px solid red !important;
}

.displayOnHover {
    opacity: 0;
}

.displayOnHover:hover {
    opacity: 1 !important;
}

form .ng-touched.ng-dirty.ng-invalid {
    border: 2px solid red !important;
}

.ng-submitted .ng-invalid {
    border: 2px solid red !important;
}